In [2]:
# Program to find which numbers are divisible by 7 and not multiple of 5 between 2000 and 3200 (both included)
# IF condition will check whether above conditions are satisfied or not. If yes, we can use append function to update the list
# A new list was created in order to store and print the output in csv format otherwise just 2 lines of code would have been sufficient

new_list=[]

for n in range(2000, 3201): 
    if n%7 == 0 and n%5 !=0:
        new_list.append(n)

print(new_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [7]:
# Program to take input from User and output in reverse order
# We define couple of variables which will take the input from user by using input method

First_Name= input('Please enter your First name: ')
Last_Name= input('Please enter your Last name: ')

print("Full name: {} {}".format(Last_Name, First_Name))

Please enter your First name:  Zaid
Please enter your Last name:  Shaikh

Full name: Shaikh Zaid

In [8]:
# Program is to find volume of sphere whose dia is 12cm. We can use the f string to print like this example or just simply by print method 

diameter=12
radius= diameter/2

Volume= (4/3)*(3.142)*(radius**3)

print(f'Volume is {Volume} cm3')

Volume is 904.896 cm3

In [9]:
# Program to take comma seprated number from user and generate a list

new_list=input("Please enter few comma-seprated numbers: ")
print(new_list.split(','))

Please enter few comma-seprated numbers:  123,456, 789, 6.5

['123', '456', ' 789', ' 6.5']

In [10]:
# To print the pattern
# We will use 2 FOR loops. One for printing upper triangle and one for lower.

for n in range(1,6):
    print('*'*n)
    
for i in range(4,0,-1):
    print('*'*i)

*
**
***
****
*****
****
***
**
*

In [11]:
# Program to reverse a word entered by the user

word=input("enter the word you would like to reverse: ")
reverse=word[::-1]
print(reverse)

enter the word you would like to reverse:  ecneicS ataD

Data Science

In [12]:
# Program to reprint the sample input in required format

line="WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN, \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t\t and to secure to all its citizens"
print(line)

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			 and to secure to all its citizens